<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ykw.blog_system.mapper.CommentMapper">
    
    <resultMap id="BaseResultMap" type="com.ykw.blog_system.entity.Comment">
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="parent_id" property="parentId"/>
        <result column="user_id" property="userId"/>
        <result column="content" property="content"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    
    <resultMap id="CommentWithUserResultMap" type="com.ykw.blog_system.entity.Comment" extends="BaseResultMap">
        <result column="username" property="username"/>
        <result column="user_avatar" property="userAvatar"/>
        <result column="reply_to_username" property="replyToUsername"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        c.id, c.article_id, c.parent_id, c.user_id, c.content, c.status, c.create_time
    </sql>
    
    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM comment c WHERE c.id = #{id}
    </select>
    
    <select id="selectByArticleId" resultMap="CommentWithUserResultMap">
        SELECT 
            <include refid="Base_Column_List"/>,
            u.nickname as username, u.avatar as user_avatar,
            pu.nickname as reply_to_username
        FROM comment c
        LEFT JOIN user u ON c.user_id = u.id
        LEFT JOIN comment pc ON c.parent_id = pc.id
        LEFT JOIN user pu ON pc.user_id = pu.id
        WHERE c.article_id = #{articleId}
        <if test="status != null">
            AND c.status = #{status}
        </if>
        ORDER BY c.create_time DESC
    </select>
    
    <select id="selectByParentId" resultMap="CommentWithUserResultMap">
        SELECT 
            <include refid="Base_Column_List"/>,
            u.nickname as username, u.avatar as user_avatar
        FROM comment c
        LEFT JOIN user u ON c.user_id = u.id
        WHERE c.parent_id = #{parentId}
        ORDER BY c.create_time ASC
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment (article_id, parent_id, user_id, content, status)
        VALUES (#{articleId}, #{parentId}, #{userId}, #{content}, #{status})
    </insert>
    
    <update id="update">
        UPDATE comment
        <set>
            <if test="content != null">content = #{content},</if>
            <if test="status != null">status = #{status}</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById">
        DELETE FROM comment WHERE id = #{id}
    </delete>
    
    <delete id="deleteByArticleId">
        DELETE FROM comment WHERE article_id = #{articleId}
    </delete>
    
    <select id="countComments" resultType="java.lang.Long">
        SELECT COUNT(*) FROM comment
        <where>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>
    
    <select id="countByArticleId" resultType="java.lang.Long">
        SELECT COUNT(*) FROM comment WHERE article_id = #{articleId} AND status = 1
    </select>
</mapper>
